body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #141414;
}

* {
    box-sizing: border-box;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
a,
.item {
    text-decoration: none;
}

.border {
    border: none;
    cursor: pointer;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    
}