.container .content {
    border-top: 3px solid chocolate;
    width: 1200px;
}

.content__paramount {
    display: flex; 
}

.content__paramount-list {
    width: 598px;
    height: 460px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

.content__secondary {
    display: flex;
    flex-wrap: wrap;
    width: 596px;
    height: 460px;
}

.content__secondery-list {
    width: 298px;
    height: 229px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.content__paramount-list:hover .content__secondery-hover__slap {
    transform: translateY(0%);
}

.content__secondery-link {

}

.content__secondery-slap {
    position: relative;
    overflow: hidden;
}

.content__secondery-hover__slap {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #2196F3;
    background-color: rgba(85, 85, 85, 0.719);
    padding: 63px 24px;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.content__secondery-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.6)), url(../image/drojh.zemli.jpg);
}