.head {
    padding: 40px 15px;
}

.head__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.head__menu {
    display: flex;
    gap: 30px;
    background-color: #333333;
    justify-content: center;
}

.head__menu-item {
    padding: 20px 2px;
}

.head__menu-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    font-family: Roboto;
    letter-spacing: 0px;
    text-align: left;
    color: #ffffff;
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.head__menu-link:hover,
.head__menu-link:focus {
    color: #2196F3;
    // border-bottom: 2px solid #2196F3;
}

.head__menu-link:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    bottom: -25px;
    left: 0;
}

// ====================== Всплывайка ====================

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-width: 420px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.janre__films {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    font-family: Roboto;
    letter-spacing: 0.02px;
    color: #f1f1f1;
    width: 160px;
    border-bottom: 0.4px solid #000;
}

.janre__films:hover {
    color: #2196F3;
}

.dropdown-content .janre__films {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #333333;
    display: flex;
    flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}
