
body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: rgba(31, 31, 31, 0.993);
}

* {
    box-sizing: border-box;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}
a,
.item {
    text-decoration: none;
}

.border {
    border: none;
    cursor: pointer;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    
}

/* ======================header==================== */

.header {
    display: flex;
    gap: 30px;
    align-items: center;
    border-bottom: 0.5px solid #7e7e7e;
}

.header__navigation {
    margin-top: 25px;
}

.header__nav-item {
    padding: 0 15px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 16px;
    line-height: 1.89;
    letter-spacing: 0.06em;
    color: #686868;
}

.header__nav-item:hover,
.header__nav-item:focus {
    font-weight: 900;
    font-size: 18;
    color: rgb(126, 126, 126);
    border: 1px solid rgb(126, 126, 126);
    border-radius: 7px;
    padding: 5px 10px;
}

.header__input {
    margin-top: 25px;
    margin-left: auto;
    padding-left: 15px;
    width: 300px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.87;
    color: #aaaaaa;
    border: 2px solid #8a8a8a;
    border-radius: 6px;
    background-color: rgba(113, 117, 117, 0);

}

.header__input::placeholder {
    font-weight: 600;
    font-size: 19px;
    line-height: 1.67;
    
}

/* =================main=============== */

.section__janre {
    padding: 20px 0;
    border-bottom: 0.5px solid rgb(126, 126, 126);
}

.janre__link {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding: 10px 10px;
    margin-right: 25px;
}

.janre {
    font-weight: 900;
    font-size: 18px;
    line-height: 1.86;
    color: #686868;
    border: 2px solid #454545;
    border-radius: 6px;
    padding: 10px 15px;
}

.janre:hover,
.janre:focus {
    color: rgb(25, 127, 211);
    border: 2px solid rgb(25, 127, 211);
}

.ring {
    display: flex;
    align-items: center;
    align-content: center;
}

.ring__img {
    width: 360px;
    height: 530px;
}

/* ========= Section Preview =========== */

.preview {
    margin: 40px 0;
    border-top: 5px solid #be5601;
}

.preview__title {
    visibility: hidden;
}

.preview__all {
    display: flex;
}

.preview__home-container {
    display: block;
    
}

.preview__home-img {
    width: 579px;
    height: 600px;
    border-right: 1px solid #979999e3;
    border-left: 1px solid #979999e3;
    border-bottom: 1px solid #979999e3;
}

.preview__secondary{
    display: flex;
    flex-wrap: wrap;
}

.preview__secondary-img {
    width: 286.5px;
    height: 300px;
    border-right: 1px solid #979999e3;
    border-left: 1px solid #979999e3;
    border-bottom: 1px solid #979999e3;
}